@import "tailwindcss";

html,
body,
#root {
  margin: 0;
  height: 100%;
  width: 100%;
}

.bg-windows-off {
  background-image: url("/dark-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.bg-windows-on {
  background-image: url("/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.botao-boot {
  transition: all 0.3s ease;
  border-radius: 45%;
  padding: 2.5rem;
  background-color: #525252;
  border: 2px solid white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.botao-boot:hover {
  transform: translateY(-6px);
  filter: drop-shadow(0 0 12px rgba(255, 255, 255, 0.9));
}

.botao-boot-2 {
  transition: all 0.3s ease;
  border-radius: 45%;
  padding: 0.5rem;
  background-color: #525252;
  border: 2px solid rgba(255, 255, 255, 0.6);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.botao-boot-2:hover {
  transform: translateY(-6px);
  filter: drop-shadow(0 0 12px rgba(255, 255, 255, 0.9));
}

.botao-power {
  transition: all 0.3s ease;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.botao-power:hover {
  box-shadow: rgb(0, 0, 0.8) 5px 5px 30px;
  transform: translateY(-4px);
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-down {
  animation: slideDown 0.6s ease forwards;
}

@layer utilities {
  .animate-slide-up {
    animation: slideUp 0.6s ease-out forwards;
  }

  @keyframes slideUp {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.menu {
  transition: all 0.3s ease;

  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.menu:hover {
  transform: translateY(-6px);
  filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.6));
}
